* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: 2px solid #333;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
  border: 1px solid #ccc;
  font-family: Arial, sans-serif;
  margin-left: auto;
  margin-right: auto;
}

th {
  background-color: #dcdcdc; /* Updated color */
  padding: 8px;
  text-align: left;
  font-weight: bold;
  color: #333;
}

td {
  padding: 8px;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc; /* Add border between each cell */
}

td:last-child {
  border-right: none; /* Remove border on last cell */
}

td a {
  margin-right: 10px;
  color: #333;
}

h1 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}
